---
import { Code as CodeAstro } from "astro:components";
import Link from "./Link.astro";
import { getLanguageByExt, type FileExt } from "@/data/utils/languages";

interface Props {
  code: string;
  extension: FileExt;
  path: string;
}

const { code, path, extension } = Astro.props;
const { color, name } = getLanguageByExt(extension);
const codeRepo =
  "https://github.com/RepolloDev/Problemas-del-Juez-Patito/tree/main";
---

<div class="code-presentation">
  <div class="code-header">
    <div class="language-info">
      <span style={`background: ${color};`} class="dot"></span>
      <span>{name}</span>
    </div>
    <div class="script-info">
      <Link href={`${codeRepo}/${path}`}>{path}</Link>
    </div>
  </div>
  <div class="code-container">
    <CodeAstro code={code} lang={name} theme="github-dark" />
  </div>
</div>
<style is:inline>
  .code-presentation {
    margin-top: 2.5rem;
    background-color: var(--color-base-100);
    border-radius: 0.5rem;
    overflow: hidden;
    border: 1.5px solid var(--color-border);
  }

  .code-header {
    display: flex;
    padding: 0.25rem 0.5rem;
    gap: 1rem;
    background-color: var(--color-base-200);
    border-bottom: 1.5px solid var(--color-border);
  }

  .code-container pre {
    padding: 1rem;
    margin: 0;
  }

  .code-container .line {
    counter-increment: line;
  }

  .code-container .line::before {
    content: counter(line);
    display: inline-block;
    width: 2rem;
    padding-right: 1rem;
    text-align: right;
    color: var(--color-text-100);
    user-select: none;
    opacity: 0.5;
  }

  .language-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-transform: capitalize;
    padding-right: 0.5rem;
    border-right: 1.5px solid var(--color-border);
  }

  .language-info .dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
  }
</style>
