---
import { Code as CodeAstro } from "astro:components";
import type { FileExt } from "@/data/utils/languages";
import LangColor from "../ui/LangColor.astro";

interface Props {
  code: string;
  extension: FileExt;
  path: string;
  id?: string;
}

const { code, path, extension, id } = Astro.props;
const codeRepo =
  "https://github.com/RepolloDev/Problemas-del-Juez-Patito/tree/main";
---

<div
  id={id}
  class="code-presentation mt-12 bg-base-100 overflow-hidden border-[1px] rounded-xl border-neutral border-opacity-50"
>
  <div
    class="code-header flex p-4 gap-4 border-b-[1px] border-neutral border-opacity-50 overflow-hidden whitespace-nowrap text-ellipsis"
  >
    <div class="language-info">
      <LangColor ext={extension} />
    </div>
    <div class="script-info">
      <a class="link link-info" href={`${codeRepo}/${path}`}>{path}</a>
    </div>
  </div>
  <div class="code-container">
    <CodeAstro code={code} lang={extension} theme="catppuccin-mocha" />
  </div>
</div>
<style is:inline>
  .code-container pre {
    margin: 0;
  }

  .code-container .line {
    counter-increment: line;
  }

  .code-container .line::before {
    content: counter(line);
    display: inline-block;
    width: 2rem;
    padding-right: 1rem;
    text-align: right;
    color: var(--color-text-100);
    user-select: none;
    opacity: 0.5;
  }
</style>
