---
import Layout from "@/web/components/common/Layout.astro";
import { UseScriptDB } from "@/data";
import Card from "@/web/components/ui/Card.astro";
import type { ScriptData } from "@/data/types";

const lastData = UseScriptDB.data.slice(-10);
---

<Layout>
  <section>
    <article class="prose md:prose-lg lg:prose-xl my-8 min-w-full">
      <h1 class="text-center">Problemas del Juez Patito 🔨🦆</h1>
      <img
        class="banner rounded block w-full"
        width="855"
        height="200"
        alt="Banner de Problemas del Juez Patito"
        src="https://raw.githubusercontent.com/RepolloDev/Problemas-del-Juez-Patito/main/assets/banner.png"
      />
      <p>
        Este repositorio contiene la solución a los problemas del juez patito,
        una plataforma de problemas de la <i>Universidad Mayor de San Andrés</i
        >. Los problemas están resueltos únicamente en Python pero se dejan
        explicaciones detalladas de los problemas para que puedan ser resueltos
        en otros lenguajes de programación.
      </p>
    </article>
  </section>
  <section>
    <h2 class="text-2xl md:text-4xl my-8">Ultimos Scripts</h2>
    <div class="card-container flex flex-col gap-4 md:grid grid-cols-2">
      {
        lastData.map((item) => {
          const { id, name, extension, path, tags, url } = item as ScriptData;
          return (
            <Card
              id={id}
              name={name}
              url={url}
              extension={extension}
              path={path}
              tags={tags}
            />
          );
        })
      }
    </div>
  </section>
</Layout>
